#video_box {
    z-index:-1;
    left:50%;
    top:50%;
	width: 55%;
    height: 60%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
}

#video_overlays {
    z-index:2;
    margin: 0;
	position:absolute;
    overflow: initial;
}